<div class="container-fluid">
    <div class="row mb-4">
        <div class="col-sm-2 menu-card">
            <div class="mt-3">
                <h4>API configurations</h4>
            </div>
            <!-- <ul class="menu-list">
                @for(item of items;track item){
                <li class="nav-item" (click)="selectItem(item)" [class.selected]="item === selectedItem">
                    <a class="nav-link active" class="nav-link-inserted">{{item.name}}</a>
                </li>
                }
            </ul> -->
            <ul class="nav nav-tabs d-flex flex-column menu-list" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <a class="nav-link nav-link2 active" id="endpoint-tab" data-bs-toggle="tab" href="#endpoint" role="tab" aria-controls="endpoint" aria-selected="true">Endpoint</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link nav-link2" id="parameter-tab" data-bs-toggle="tab" href="#parameterforwarding" role="tab" aria-controls="parameterforwarding" aria-selected="false">Parameter Forwarding</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link nav-link2" id="auth-tab" data-bs-toggle="tab" href="#auth" role="tab" aria-controls="auth" aria-selected="false">Auth</a>
                  </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link nav-link2" id="throttling-tab" data-bs-toggle="tab" href="#throttling" role="tab" aria-controls="throttling" aria-selected="false">Throttling</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link nav-link2" id="policies-tab" data-bs-toggle="tab" href="#policies" role="tab" aria-controls="policies" aria-selected="false">Policies</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link nav-link2" id="response-tab" data-bs-toggle="tab" href="#response" role="tab" aria-controls="response" aria-selected="false">Response Manipulation</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link nav-link2" id="connectivity-tab" data-bs-toggle="tab" href="#connectivity" role="tab" aria-controls="connectivity" aria-selected="false">Connectivity Options</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link nav-link2" id="openapi-tab" data-bs-toggle="tab" href="#openapi" role="tab" aria-controls="openapi" aria-selected="false">Open Api</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link nav-link2" id="backend-tab" data-bs-toggle="tab" href="#backend" role="tab" aria-controls="backend" aria-selected="false">Backends (Upstream)</a>
                </li>
              </ul>
        </div>
        <div class="col-sm-10">
            <div class="tab-content mt-3" id="myTabContent">
                <div class="tab-pane fade show active" id="endpoint" role="tabpanel" aria-labelledby="endpoint-tab">
                    <app-end-point-page [formData]="endPointData" 
                    (endPointFormSubmitted)="onFormChange('endpoint',$event)"></app-end-point-page>
                </div>
                <div class="tab-pane fade" id="parameterforwarding" role="tabpanel" aria-labelledby="parameterforwarding-tab">
                    <app-parameter-forwarding [formData]="parameterForwardingData"
                    (formSubmitted)="onFormChange('parameter',$event)"></app-parameter-forwarding>
                </div>
                <div class="tab-pane fade" id="auth" role="tabpanel" aria-labelledby="auth-tab">
                    <app-auth-page [formData]="authPageData" (authPageFormSubmitted)="onFormChange('auth',$event)"></app-auth-page>
                </div>
                <div class="tab-pane fade" id="throttling" role="tabpanel" aria-labelledby="throttling-tab">
                    <app-throttling [formData]="throttlingData" (throttlingFormSubmitted)="onFormChange('throttling',$event)"></app-throttling>
                </div>
                <div class="tab-pane fade" id="policies" role="tabpanel" aria-labelledby="policies-tab">
                    <app-policies [formData]="policiesData" (policiesFormSubmitted)="onFormChange('policies',$event)"></app-policies>
                </div>
                <div class="tab-pane fade" id="response" role="tabpanel" aria-labelledby="response-tab">
                    <app-response-manipulation [formData]="responseData"
                (responseManipulationFormSubmitted)="onFormChange('response',$event)"></app-response-manipulation>
                </div>
                <div class="tab-pane fade" id="connectivity" role="tabpanel" aria-labelledby="connectivity-tab">
                    <app-connectivity-options [formData]="connectivityData"
                (connectivityFormSubmitted)="onFormChange('connectivity',$event)"></app-connectivity-options>
                </div>
                <div class="tab-pane fade" id="openapi" role="tabpanel" aria-labelledby="openapi-tab">
                    <app-openapi [formData]="openApiData" (openapiFormSubmitted)="onFormChange('openapi',$event)"></app-openapi>
                </div>
                <div class="tab-pane fade" id="backend" role="tabpanel" aria-labelledby="backend-tab">
                  <!-- <app-backends-upstream></app-backends-upstream> -->
                   <div class="col-sm-12">
                  <ul class="nav nav-tabs menu-list" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <a class="nav-link nav-link1 active" id="upstreamRequest-tab" data-bs-toggle="tab" href="#upstreamRequest" role="tab" aria-controls="upstreamRequest" aria-selected="true">Request</a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a class="nav-link nav-link1" id="upstreamThrottling-tab" data-bs-toggle="tab" href="#upstreamThrottling" role="tab" aria-controls="upstreamThrottling" aria-selected="false">Throttling</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link nav-link1" id="upstreamAuth-tab" data-bs-toggle="tab" href="#upstreamAuth" role="tab" aria-controls="upstreamAuth" aria-selected="false">Auth</a>
                      </li>
                      <li class="nav-item" role="presentation">
                        <a class="nav-link nav-link1" id="upstreamPolicies-tab" data-bs-toggle="tab" href="#upstreamPolicies" role="tab" aria-controls="upstreamPolicies" aria-selected="true">Policies</a>
                      </li>
                      <li class="nav-item" role="presentation">
                        <a class="nav-link nav-link1" id="upstreamResponse-tab" data-bs-toggle="tab" href="#upstreamResponse" role="tab" aria-controls="upstreamResponse" aria-selected="true">Response manipulation</a>
                      </li>
                  </ul>
                </div>
                  <div class="col-sm-12">
                    <div class="tab-content mt-3" id="myTabContent1">
                      <div class="tab-pane fade show active" id="upstreamRequest" role="tabpanel" aria-labelledby="upstreamRequest-tab">
                        <app-upstream-request [formData]="upstreamRequestData" 
                          (upstreamRequestFormSubmitted)="onFormChange('upstreamRequest',$event)"></app-upstream-request>
                      </div>
                      <div class="tab-pane fade" id="upstreamThrottling" role="tabpanel" aria-labelledby="upstreamThrottling-tab">
                         <app-upstream-throttling [formData]="upstreamThrottlingData"
                          (upstreamThrottlingFormSubmitted)="onFormChange('upstreamThrottling',$event)"></app-upstream-throttling>
                      </div>
                      <div class="tab-pane fade" id="upstreamAuth" role="tabpanel" aria-labelledby="upstreamAuth-tab">
                         <app-upstream-auth [formData]="upstreamAuthData" (upstreamAuthFormSubmitted)="onFormChange('upstreamAuth',$event)"></app-upstream-auth>
                      </div>
                      <div class="tab-pane fade" id="upstreamPolicies" role="tabpanel" aria-labelledby="upstreamPolicies-tab">
                         <app-upstream-policies [formData]="upstreamPoliciesData" (upstreamPoliciesFormSubmitted)="onFormChange('upstreamPolicies',$event)"></app-upstream-policies>
                      </div>
                      <div class="tab-pane fade" id="upstreamResponse" role="tabpanel" aria-labelledby="upstreamResponse-tab">
                         <app-upstream-response-manipulation [formData]="upstreamResponseData" (upstreamResponseFormSubmitted)="onFormChange('upstreamResponse',$event)"></app-upstream-response-manipulation>
                      </div>
                      
                    </div>
                  </div>
                <!-- <div #childContainer></div> -->
                </div>
              </div>
            <!-- <router-outlet></router-outlet> -->
           
            <div #childContainer></div>
        </div>
        
        <div class="col-sm-12 d-flex justify-content-end">
            <button mat-raised-button color="primary" (click)="submitEndpointData()">Submit</button>
        </div>
        
        @if(selectedItem.name==="Backends(Upstream)"){
        <div class="col-sm-12 d-flex justify-content-end mt-3">
            <button mat-raised-button color="primary" (click)="addChild()">Add Backend</button>
            <!-- <button mat-raised-button color="primary" (click)="submitBackendForm()">Submit Backend</button> -->
        </div>
    }

    </div>
</div>