@if(showParent){
<div class="container">
    @if(entireJsondata!==undefined){
    <div class="row">
        <div class="col-sm-12">
            
            <button mat-raised-button color="primary" (click)="addEndpoint()">Add Endpoint</button>
            
        </div>
        
    </div>
    <div class="row">
        <div class="col-sm-2" *ngFor="let item of endPointData">
            <button mat-raised-button (click)="goToViewApipage(item)" class="mt-3" style="width:100%">{{ item.endpoint }}</button>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-12 d-flex justify-content-end">
            <button mat-raised-button color="primary" (click)="submitFinalData()">Submit</button>
        </div>
    </div>
}@else{
    <h4>Please Create Endpoint name and port</h4>
}
</div>
}
@else{
   
    <router-outlet></router-outlet>
}
