<!-- <p>upstream-request works!</p> -->
<div class="container">
  <div class="row">
    <form [formGroup]="formGroupUpstreamRequest">
      <div class="row">
        <!-- <form [formGroup]="formGroupUpstreamRequest">

    </form> -->
        <div class="col-sm-12">
          <h3>The request options define how KrakenD interacts with the upstream service.</h3>
          <h2>Connection</h2>
          <p>Connect to host(s)</p>
          <div class="hostname-div">
            <input type="text" class="form-control" formControlName="host" />
            <button mat-raised-button class="addhost-btn mt-1" (click)="addParameter()">Add host</button>
          </div>
          <div class="mt-3 d-flex">

            <button *ngFor="let host of hostArray; let i = index" class="parameter-item">
              {{ host }}<mat-icon (click)="removeParameter(i)"
                class="d-flex align-items-center justify-content-end">close</mat-icon>
            </button>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-sm-12 col-md-3">
            <div class="mb-3">
              <label for="method" class="form-label">Method</label>
              <select class="form-select" aria-label="Default select example" id="method" formControlName="method">
                <option selected>Select Method</option>
                <option value="GET">GET</option>
                <option value="POST">POST</option>
                <option value="PUT">PUT</option>
                <option value="PATCH">PATCH</option>
                <option value="DELETE">DELETE</option>
              </select>
            </div>
          </div>
          <div class="col-sm-12 col-md-3">
            <div class="mb-3">
              <label for="url" class="form-label">URL</label>
              <input type="text" class="form-control" id="url" formControlName="endpointUrl">
              <div class="form-text">The endpoint of the backend server to query. Reuse here any &#123;parameters&#125;
                defined in the parent endpoint. Also see Header routing</div>
            </div>
          </div>
          <div class="col-sm-12 col-md-3">
            <div class="mb-3">
              <label for="decodeas" class="form-label">Decode as</label>
              <select class="form-select" aria-label="Default select example" id="decodeas" formControlName="decodeAs">
                <option selected>Select Format</option>
                <option value="json">JSON</option>
                <option value="xml">XML</option>
                <option value="rss">RSS</option>
                <option value="string">String</option>
                <option value="No-Op">No-Op(Leave as is)</option>
              </select>
              <div class="form-text">How to decode the response of the backend.</div>
            </div>
          </div>
          <div class="col-sm-12 col-md-3">
            <div class="mb-3">
              <label class="form-label">Resolution</label>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"
                  formControlName="sanitization">
                <label class="form-check-label" for="flexCheckChecked">
                  Disable Sanitization
                </label>
              </div>
              <div class="form-text">For non-HTTP hosts. If unsure, leave the proposed value.</div>
            </div>
          </div>
        </div>

      </div>
      <hr />
      <div class="row">
        <div class="col-sm-12 heading-with-toggle d-flex align-items-center gap-2">
          <div>
            <h3>Static Server</h3>
          </div>
          <div>
            <mat-slide-toggle formControlName="isStaticServerActive"></mat-slide-toggle>
          </div>
        </div>
        <div>
          <p>Enables validation of JWT tokens (OAuth) that have been issued by a third party identity provider (e.g.:
            OpenID Connect)
          </p>
          @if (formGroupUpstreamRequest.value.isStaticServerActive) {
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="mb-3">
                <label for="staticUrl" class="form-label">URL</label>
                <input type="text" class="form-control" id="staticUrl" formControlName="staticUrl">
                <div class="form-text">The folder in the filesystem containing the static files. Relative to the working
                  dir where KrakenD config is (e.g.: ./assets) or absolute (e.g.: /etc/krakend/assets).</div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div class="mb-3">
                <!-- <label class="form-label">Resolution</label> -->
                <div class="form-check mt-4">
                  <input class="form-check-input" type="checkbox" value="" id="directory"
                    formControlName="directory_Listing">
                  <label class="form-check-label" for="directory">
                    Directory Listing
                  </label>
                </div>
                <div class="form-text">For non-HTTP hosts. If unsure, leave the proposed value.</div>

              </div>
            </div>
          </div>
          }
        </div>

      </div>
      <hr>
      <div class="row">
        <div class="col-sm-12 heading-with-toggle d-flex align-items-center gap-2">
          <div>
            <h3>Body Manipulation and Generation</h3>
          </div>
          <div>
            <mat-slide-toggle formControlName="isBodymanipulationActive" ></mat-slide-toggle>
          </div>
        </div>
       
        @if(formGroupUpstreamRequest.value.isBodymanipulationActive){
          <div class="row">
            <div class="col-md-5 col-sm-12 form-check form-check-inline">
              <input class="form-check-input" type="radio" formControlName="bodyEditor" id="inlineRadio1"
                value="bodyeditor">
              <label class="form-check-label" for="inlineRadio1">Use the inline body editor</label>
            </div>
    
            <div class="col-md-5 col-sm-12 form-check form-check-inline">
              <input class="form-check-input" type="radio" formControlName="bodyEditor" id="inlineRadio2" value="external">
              <label class="form-check-label" for="inlineRadio2">An external file</label>
            </div>
          </div>
    
          <div class="col-sm-8">
            <label for="exampleFormControlTextarea1" class="form-label">Body Editor</label>
            <textarea class="form-control fingerprint" id="exampleFormControlTextarea1" rows="3"
              formControlName="template"></textarea>
            <div class="form-text">The response body you will return to the end-user. You can introduce the variables
              .resp_headers.xxx, .resp_headers.xxx (with no-op), .resp_status.xxx (with no-op), .resp_body.xxx,
              .req_params.Xxx, .req_headers.xxx, .req_querystring.xxx, .req_path</div>
          </div>
    
          <div class="row">
            <div class="col-sm-6">
              <label for="conType" class="form-label">Content Type</label>
              <input type="text" id="conType" class="form-control" formControlName="contentType">
              <div id="conTypeBlock" class="form-text">
                The Content-Type that you are coding in the template. Defaults to application/json
              </div>
            </div>
            <div class="col-sm-6">
              <mat-checkbox class="example-margin" formControlName="debug">Enable Debug</mat-checkbox>
              <div class="form-text">shows useful information in the logs with DEBUG level about the input received and the
                body generated. Do not enable in production.
              </div>
            </div>
    
          </div>
    
          <div class="col-sm-6">
            <label for="path" class="form-label">Path</label>
            <input type="text" id="path" class="form-control" formControlName="path">
            <div id="conTypeBlock" class="form-text">
              The Content-Type that you are coding in the template. Defaults to application/json
            </div>
          </div>
        }@else {
          <p>The body generator modifier allows you to craft the body you send to a backend through templates, and enables
            injecting other values from the user request such as the original body, headers, querystrings or URL
            parameters.</p>
        }

      </div>

      <hr>

      <div class="row">
        <div class="col-sm-12 heading-with-toggle d-flex align-items-center gap-2">
          <div>
            <h3>Martian (Req/Resp static manipulation)</h3>
          </div>
          <div>
            <mat-slide-toggle formControlName="isMartianActive"></mat-slide-toggle>
          </div>
        </div>

        @if(formGroupUpstreamRequest.value.isMartianActive){
        <h3>Martian DSL</h3>
        <textarea class="static-text-area form-control" formControlName="martianDslTextarea"></textarea>
        <div class="form-text">Paste here your JSON configuration to be used in the martian modifier.</div>

        }@else {
        <p>Transform requests and responses through a simple DSL definition. The input must be a JSON object with
          Martian format</p>
        }
        <div class="col-sm-12 d-flex justify-content-end">
          <!-- <button mat-raised-button color="primary" (click)="saveForm()">
        Save
      </button> -->
        </div>
      </div>
    </form>
  </div>

</div>