<div class="container">
    <div class="row">
        <form [formGroup]="formGroup1">
        <div class="col-sm-12">
            <h2>Connectivity Options</h2>
            <p> KrakenD connects to all backends in parallel. Here you can set special behaviors of this endpoint when
                connecting to backends, like increasing the pressure to a backend to get better response times, connect
                one by one, or use WebSockets.</p>

        </div>
        <hr class="mt-4">
        <div class="col-sm-12">
            <h3>Concurrent Calls</h3>
            <p>The concurrent requests are an excellent technique to improve the response times and decrease error rates
                by requesting in parallel the same information multiple time</p>
            
            <div class="mb-3 col-sm-6">
                    <label for="concurrentCalls" class="form-label">Concurrent Calls</label>
                    <input type="text" class="form-control" id="concurrentCalls" formControlName="concurrentCalls" value="400">
                    <div class="form-text">Number of parallel requests you want to send to the backend for the same request. Fastest request is
                        taken and the rest are discarded. Recommended values 1-3</div>
            </div>
        </div>
        <hr class="mt-4">
        <div class="col-sm-12">
            <h3>Web Sockets <mat-slide-toggle (change)="onToggleChangeWebSocketResponse($event)"></mat-slide-toggle></h3>
            @if(!isWebSocketEnabled){
            <p>Communications using the WebSocket Protocol (RFC-6455) to enable two-way communication between a client
                to a backend host through the API gateway.</p>
            }
            @if(isWebSocketEnabled){
            <div class="d-flex">
                <div class="col-sm-6">
                    <div class="d-flex align-items-center">
                        <input type="checkbox" id="notifyConnectionEvent" class="me-2">
                        <h3 class="mb-0">Notify the connection event</h3>
                    </div>
                    <p>Notifies in the log when there is the client connect event</p>
                    <div class="mb-3 col-sm-12 col-md-10">
                        <label for="backoffStrategy" class="form-label">Backoff Strategy</label>
                        <select class="form-select" id="backoffStrategy" formControlName="backoffStrategy">
                            <option selected>select backoff strategy</option>
                            <option value="1">Linear</option>
                            <option value="2">Linear Jitter</option>
                            <option value="3">Exponential</option>
                        </select>
                        <div class="form-text">When the connection to your event source gets interrupted for whatever reason, KrakenD keeps
                            trying to reconnect until it succeeds or until it reaches the max_retries. The backoff strategy
                            defines the delay in seconds in between consecutive failed retries</div>
                    </div>

                    <div class="mb-3 col-sm-12 col-md-10">
                        <label for="readBufferSize" class="form-label">Read Buffer Size</label>
                        <input type="number" class="form-control " id="readBufferSize" formControlName="readBufferSize">
                        <div class="form-text">The find expression or literal you want to use.Connections buffer network input and output to
                            reduce the number of system calls when reading messages. You can set the maximum buffer size for
                            reading (in bytes).</div>
                    </div>
                    <div class="mb-3 col-sm-12 col-md-10">
                        <label for="writeWait" class="form-label">Write wait</label>
                        <input type="text" class="form-control" id="writeWait" aria-describedby="emailHelp" formControlName="writeWait">
                        <div class="form-text">Sets the maximum time KrakenD will wait until the write times out.</div>
                    </div>
                    <div class="mb-3 col-sm-12 col-md-10">
                        <label for="maxRetries" class="form-label">Max Retries</label>
                        <input type="text" class="form-control" id="maxRetries" aria-describedby="emailHelp" formControlName="maxRetries">
                        <div class="form-text">The maximum number of times you will allow KrakenD to retry reconnecting to a broken messaging
                            system. Use a value h3= 0 for unlimited retries.</div>
                    </div>

                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="d-flex align-items-center">
                        <input type="checkbox" id="notifyConnectionEvent" class="me-2">
                        <h3 class="mb-0">Notify the disconnection event</h3>
                    </div>
                    <p>Notifies in the log when there is a client disconnect event</p>
                    <div>
                    <label for="inputHeader" class="form-label">Input headers</label>
              <div class="d-flex align-items-center">
                <input id="inputHeader" type="text" class="input-size me-2 form-control" placeholder="value"
                  formControlName="inputHeader">
                  <button type="button" class="btn btn-info" (click)="addParameter()">+</button>
              </div>
              <div class="form-text">Defines which input headers are allowed to pass to the backend. Leave * for all headers declared
                in the endpoint.</div>
                <div class="mt-3 d-flex">
                    <button *ngFor="let parameter of parameterArray; let i = index" class="parameter-item">
                      {{ parameter }}<mat-icon (click)="removeParameter(i)" class="d-flex align-items-center justify-content-end">close</mat-icon>
                    </button>
                </div>
            </div>
            <div class="mb-3 col-sm-12 col-md-10">
                <label for="writeBufferSize" class="form-label">Write Buffer size</label>
                <input type="number" class="form-control" id="writeBufferSize" formControlName="writeBufferSize">
                <div class="form-text">Connections buffer network input and output to reduce the number of system calls when writing
                    messages. You can set the maximum buffer size for writing in bytes.</div>
            </div>
            <div class="mb-3 col-sm-12 col-md-10">
                <label for="maxWriteBufferSize" class="form-label">Write Buffer size</label>
                <input type="number" class="form-control" id="maxWriteBufferSize" formControlName="maxWriteBufferSize">
                <div class="form-text">Sets the maximum size of client messages (in bytes).</div>
            </div>
            <div class="mb-3 col-sm-12 col-md-10">
                <label for="pongWait" class="form-label">Pong Wait</label>
                <input type="text" class="form-control" id="pongWait" formControlName="pongWait">
                <div class="form-text">Sets the maximum time KrakenD will wait until the pong times out.</div>
            </div>
            <div class="mb-3 col-sm-12 col-md-10">
                <label for="returnErr" class="form-label">Return error details</label>
                <!-- <input type="checkbox" class="form-control" id="returnErr"> -->
                <div class="form-text">Provides an error &#123;"error":"reason here" &#125; to the client when KrakenD was unable to
                    send the message to the backend.</div>
            </div>
                    
                    
                    
                </div>
            </div>
            }
        </div>
        <hr class="mt-4">
        <div class="col-sm-12">
            <h3>Sequential proxy<mat-slide-toggle (change)="onToggleChangeSequencialproxy($event)"></mat-slide-toggle>
            </h3>
            @if(isSequencialproxy){
            <p>Sequential proxy - enabled</p>
            }
            <p>Calls backends sequentially instead of in parallel, so you can inject data from a previous call in
                the url_pattern of the next call. injecting variables like &#123;resp0_XXXX&#125; where 0 is the index
                of the
                backend and XXXX the attribute. E.g: &#123;resp1_hotel_id&#125; takes the field hotel_id from the first
                backend
                call (index starts at 0).</p>
        </div>
        <div class="col-sm-12 d-flex justify-content-end">
            <button mat-raised-button color="primary" (click)="saveForm()">Save</button>
        </div>
    </form>

    </div>
</div>