/* h2 {
  font-family: 'Urbanist', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 80px;
  letter-spacing: 0.1px;
  text-align: left;
} */

.input-label {
  font-size: 13px;
}

.input-size {
  width: 80%;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.input-size1 {
  width: 5%;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.checkbox-text {
  margin-bottom: 0;
}

.static-text-area {
  background-color: black;
  width: 80%;
  color: white;
}