<div class="container-fluid">
  <div class="row mb-4">
    <div class="col-sm-12 menu-card">
      <div class="mt-3">
        <h4>Backend Upstreams for v1/basal-forect/&#123;id_forest&#125;</h4>
      </div>
      <ul class="menu-list d-flex">
        @for(item of items;track item){
        <li class="nav-item" (click)="selectItem(item)" [class.selected]="item === selectedItem">
          <a class="nav-link active" class="nav-link-inserted">{{item.name}}</a>
        </li>
        }
      </ul>
    </div>
    <div class="col-sm-12">
      @if(selectedItem.name==="Request"){
      <app-upstream-request (upstreamRequestFormSubmitted)="collectData('request',$event)"></app-upstream-request>
      }
      @if(selectedItem.name==="Response Manipulation"){
        <app-upstream-response-manipulation (upstreamRequestFormSubmitted)="collectData('responseManipulation',$event)"></app-upstream-response-manipulation>
        }
      @if(selectedItem.name==="Throttling"){
        <app-upstream-throttling (upstreamThrottlingFormSubmitted)="collectData('throttling',$event)"></app-upstream-throttling>
        }
      @if(selectedItem.name==="Autentication"){
        <app-upstream-auth (upstreamAuthFormSubmitted)="collectData('auth',$event)"></app-upstream-auth>
        }
      @if(selectedItem.name==="Policies"){
        <app-upstream-policies (upstreamPoliciesFormSubmitted)="collectData('policies',$event)"></app-upstream-policies>
        }
    </div>
    <div class="col-sm-12">
      <button mat-raised-button color="primary" (click)="submitForm()">submit Backend Form</button>
    </div>
  </div>
</div>