<div class="container">
    <div class="row">
        <form [formGroup]="formGroupResponseManipulation">
            <div class="col-sm-12">
                <h2>Response Manipulation</h2>
                <p>When you manipulate data at the endpoint level, you have the last chance to work with the aggregated
                    data coming from all endpoints</p>
                <hr>

                <div class="row">
                    <h3>Static response (stub data) <mat-slide-toggle
                            formControlName="isStaticResponseActive"></mat-slide-toggle></h3>
                    <p>When the backend fails you can still return the static data provided below to the user. The data
                        is merged with any existing partial responses. If you still don't have a backend and want to
                        have this data, add a fake one that cannot be resolved</p>
                    @if(formGroupResponseManipulation.value.isStaticResponseActive){
                    <div class="d-flex">
                        <div class="col-sm-6">
                            <label for="response" class="form-label">Response</label>
                            <textarea class="static-text-area form-control" formControlName="response"></textarea>
                            <div class="form-text">Provide the JSON object you want to return (ensure to start and end
                                with curly braces).</div>

                        </div>
                        <div class="col-sm-6">
                            <label for="strategy" class="form-label">Strategy</label>
                            <select class="form-select" aria-label="Default select example" id="strategy"
                                formControlName="strategy">
                                <option selected>Select Strategy</option>
                                <option value="1">Always-Present in every response</option>
                                <option value="2">Success-Present in every non-failed response</option>
                                <option value="3">Errored-Present in Every failed response(error not nil)</option>
                                <option value="3">Incomplete-Present in incomplete responses</option>
                            </select>
                        </div>
                    </div>
                    }
                </div>

                <hr class="mt-4">

                <div class="row gap-2">

                    <div class="col-sm-12">
                        <h3>Advance Response Manipulation(JMESPath) <mat-slide-toggle
                                formControlName="isAdvanceResponseActive"></mat-slide-toggle></h3>
                        <p>Manipulate the response dataset after the aggregation layer using a JSON Query language</p>
                    </div>

                    @if(formGroupResponseManipulation.value.isAdvanceResponseActive){
                    <div class="row">
                        <p>Expression</p>
                        <div class="row">
                            <div class="col-sm-6">
                                <input class="input-size form-control" type="text" formControlName="expression" />
                            </div>
                            <span class="col-sm-6 ">JMESpath query to execute on returned results of
                                /v1/huge-fountain/&#123;id_fountain&#125;</span>
                        </div>
                    </div>

                    <div class="col-sm-12 exp-main">
                        <h4>Example of how JMESpath works</h4>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 exp-main">
                            <h4>Server Response</h4>
                            <div class="exp-info">
                                <h4>
                                    <pre>{{ jsonData | json }}</pre>
                                </h4>
                            </div>
                        </div>
                        <div class="col-sm-6 exp-main d-flex flex-column gap-2">
                            <div>
                                <h4>Expression</h4>
                                <div class="exp-info">
                                    <h4>
                                        <pre>students[?age > `18` ].name</pre>
                                    </h4>
                                </div>
                            </div>
                            <div>
                                <h4>Returned Response</h4>
                                <div class="exp-info">
                                    <h4>
                                        <pre>["Bill", "Jessica"]</pre>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                </div>

                <hr class="mt-4">

                <!-- regex content replacer -->

                <div class="row gap-3">

                    <div class="col-sm-12 heading-with-toggle d-flex align-items-center gap-2">
                      <div>
                        <h3>Regexp Content Replacer</h3>
                      </div>
                      <div>
                        <mat-slide-toggle formControlName="regexConReplacerActive"></mat-slide-toggle>
                      </div>
                    </div>
                    @if (formGroupResponseManipulation.value.regexConReplacerActive) {
              
                    <div class="row align-items-center">
                      <div class="col-sm-4">
                        <label for="findkey" class="form-label">Enter Key Name for Content Replacer</label>
                        <input type="text" id="findkey" class="form-control" formControlName="contentReplacerKey"
                          placeholder="e.g., 'hem'">
                        <div id="keyHelperBlock" class="form-text">
                          The find expression or literal you want to use
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <button type="button" class="btn btn-dark" (click)="createContentReplacerKey()">Create Key</button>
                      </div>
                    </div>
              
                    <!-- Step 2: Display find, replace, and regexp controls for the created key -->
                    <div *ngIf="isKeyCreated">
              
                      <div [formGroupName]="'contentReplacer'">
                        <div class="row align-items-center gap-2" [formGroupName]="formGroupResponseManipulation.value.contentReplacerKey">
              
              
                          <div class="col-sm-3">
                            <label for="findkey" class="form-label">Key to replace</label>
                            <input type="text" id="findkey" class="form-control" formControlName="find">
                            <div id="keyHelperBlock" class="form-text">
                              The find expression or literal you want to use
                            </div>
                          </div>
              
                          <div class="col-sm-3">
                            <label for="replace" class="form-label">Replace by</label>
                            <input type="text" id="replace" class="form-control" formControlName="replace">
                            <div id="replaceHelperBlock" class="form-text">
                              The find expression or literal you want to use
                            </div>
                          </div>
              
                          <div class="col-sm-3">
                            <mat-checkbox class="example-margin" formControlName="regexp">Regexp mode</mat-checkbox>
                            <div class="form-text">Check if you want to use regular expression instead of a literal string (faster).
                            </div>
                          </div>
              
                          <div class="col-sm-12">
                            <button type="button" class="btn btn-dark" (click)="resetFields()">Delete</button>
                          </div>
              
                        </div>
                      </div>
                    </div>
                    }@else {
                        <p>The content replacer plugin allows you to modify the response of your services by doing literal replacements or more sophisticated replacements with regular expressions.</p>
                    }
                  </div>

                <hr>
                <!-- response manipulation with go templates -->
                <div class="row gap-3">
                    <div class="col-sm-12 heading-with-toggle d-flex align-items-center gap-2">
                      <div>
                        <h3>Response Manipulation with Go templates</h3>
                      </div>
                      <div>
                        <mat-slide-toggle formControlName="isAdvanceResponseGoActive"></mat-slide-toggle>
                      </div>
                    </div>
              
                    @if (formGroupResponseManipulation.value.isAdvanceResponseGoActive) {
                    <div class="row">
                      <div class="col-md-5 col-sm-12 form-check form-check-inline">
                        <input class="form-check-input" type="radio" formControlName="bodyEditor" id="inlineRadio1"
                          value="bodyeditor">
                        <label class="form-check-label" for="inlineRadio1">Use the inline body editor</label>
                      </div>
              
                      <div class="col-md-5 col-sm-12 form-check form-check-inline">
                        <input class="form-check-input" type="radio" formControlName="bodyEditor" id="inlineRadio2" value="external">
                        <label class="form-check-label" for="inlineRadio2">An external file</label>
                      </div>
                    </div>
              
                    <div class="col-sm-8">
                      <label for="exampleFormControlTextarea1" class="form-label">Body Editor</label>
                      <textarea class="form-control fingerprint" id="exampleFormControlTextarea1" rows="3"
                        formControlName="template"></textarea>
                      <div class="form-text">The response body you will return to the end-user. You can introduce the variables
                        .resp_headers.xxx, .resp_headers.xxx (with no-op), .resp_status.xxx (with no-op), .resp_body.xxx,
                        .req_params.Xxx, .req_headers.xxx, .req_querystring.xxx, .req_path</div>
                    </div>
              
                    <div class="row">
                      <div class="col-sm-6">
                        <label for="conType" class="form-label">Content Type</label>
                        <input type="text" id="conType" class="form-control" formControlName="contentType">
                        <div id="conTypeBlock" class="form-text">
                          The Content-Type that you are coding in the template. Defaults to application/json
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <mat-checkbox class="example-margin" formControlName="debug">Enable Debug</mat-checkbox>
                        <div class="form-text">shows useful information in the logs with DEBUG level about the input received and the
                          body generated. Do not enable in production.
                        </div>
                      </div>
              
                    </div>
              
                    <div class="col-sm-6">
                      <label for="path" class="form-label">Path</label>
                      <input type="text" id="path" class="form-control" formControlName="path">
                      <div id="conTypeBlock" class="form-text">
                        The Content-Type that you are coding in the template. Defaults to application/json
                      </div>
                    </div>
              
              
                    }
                    @else {
                        <p>The response body generator lets you write a whole new payload using a template that has access to all the response data. In addition to the payload from the backend, you can incorporate other information such as headers, status codes, query strings, or URL parameters.</p>
                    }
                
                  </div>

                <div class="row">{{formGroupResponseManipulation.value | json}}</div>
            </div>


            <!-- <div class="col-sm-12">
            <button mat-raised-button color="primary" (click)="saveForm()">Save</button>
        </div> -->
        </form>
    </div>
</div>