<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Parameter Forwarding</h2>
            <p>TimeOut and Cache TTL</p>
            <p>All the settings below are defined in the Service configuration, setting one or several values here means
                overriding the settings for this specific endpoint only</p>
            <p>Valid time units : ns, us (or µs), ms, s, m, h E.g: 1s</p>
            <div>
                <p>Recognized Query string parameters</p>
                <div class="d-flex align-items-center">
                    <div class="col-sm-3">
                        <input class="input-size" type="text" />
                    </div>
                    <div class="col-sm-9">
                        <button mat-flat-button class="parameter-button">Add Parameter</button>
                    </div>

                </div>
                <div class="d-flex align-items-center">
                    <div class="col-sm-3">
                        <span class="parameter-span-text">Query string parameters to be passed to the backends when present. Write only the name of the parameter, no question mark or equal symbols.</span>
                    </div>
                </div>
            </div>

            <div class="mt-4">
                <p>Headers passing to backend</p>
                <div class="d-flex align-items-center">
                    <div class="col-sm-3">
                        <input class="input-size" type="text" />
                    </div>
                    <div class="col-sm-9">
                        <button mat-flat-button class="parameter-button">Add Header</button>
                    </div>

                </div>
                <div class="d-flex align-items-center">
                    <div class="col-sm-3">
                        <span class="parameter-span-text">Headers sent by the user that will reach your backend (e.g.: Content-Type). Add a single * to forward all headers (not recommended, security concerns)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>